*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color:lightskyblue;
  font-family: sans-serif;
}

#ball {
  margin-left: 40%;
}

#fifa {
  margin-left: 30%;
}

<style> .zentrierter-text {
  text-align: center;
}

<h1 class